 <h2 >Veuillez se connecter</h2>
    <form id="form-connexion" novalidate>
        <div>
            <label for="courriel">Courriel </label>
            <input type="email" id="courriel_connexion" name="courriel" required>
        </div>
        <div>
            <label for="motdepasse">Mot de passe </label>
            <input type="password" id="mot_de_passe_connexion" name="motdepasse" required>
        </div>
        <div>
            <button type="submit">Se connecter</button>
        </div>
        <div><p id="message-connexion">

        </p>
        </div>
    </form>

